.modal {
	width: 100%;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 10;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
	animation: bounce .5s ease-out;
}

.modal-backdrop {
	position: absolute;
	width: 100%;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .3);
}

.modal-form {
	position: relative;
	max-width: 350px;
	box-sizing: border-box;
	background-color: #fff;
	border-radius: 6px 6px 3px 3px;

}

.form-content {
	padding: 15px;
}

.modal-form__input {
	padding: 8px;
	width: 100%;
	border: 1px solid #e7e7e7;
	outline: none;
	font-size: 15px;
	margin-bottom: 15px;
	box-sizing: border-box;
	border-radius: 3px;
}

.modal-head {
	border-radius: 3px 3px 0 0;
	padding: 15px;
	font-size: 16px;
	background: #19283f;
	color: rgba(255, 255, 255, .9);
	
}
.modal-close {
	position: absolute;
	right: -14.5px;
	top: -13.5px;
	width: 15px;
	height: 15px;
	padding: 8px;
	background-color: #fff;
	border-radius: 50%;
	cursor: pointer;
}

@keyframes bounce {
	0% {
		opacity: 0;
		transform: scale(1, 1);
		transform: translateY(-200px);
	}
	50% {
		transform: scale(1.5, 1.5);
	}
	100% {
		transform: scale(1, 1);
		opacity: 1;
		transform: translateY(0px);
	}
}

