.portfolio {
	background-color: #eff7fa;
	padding-bottom: 40px;
}

.portfolio-inner {
	max-width: 1000px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.portfolio-item {
	height: 180px;
	width: 230px;
	position: relative;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 7px;

}

.portfolio-item.first {
	background-image: url('../../img/design.png');
}

.portfolio-info {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: .8;
	top: 0;
	left: 0;
	background-color: #33d1cc;
	opacity: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	display: flex;
}

.portfolio-item:hover > .portfolio-info {
	opacity: .95;
	transition: .3s ease-out;
}

.portfolio-info__title {
	color: #fff;
	display: block;
	font-size: 18px;
	text-align: center;
}

.portfolio-info__category{
	color: #1a2940;
	display: block;
	font-size: 15px;
	text-align: center;
	margin-top: 10px;
}

.nav-portfolio {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

.nav-portfolio__item {
	list-style: none;
	margin: 0 10px;
	color: rgba(0, 0, 0, .7);
}