.service {
	padding: 58px 5%;
	box-sizing: border-box;
}

.service-inner {
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.service-item {
	max-width: 330px;
}

.service-info {
	height: 194px;
	font-size: 194px;
	position: relative;
	text-align: center;
	color: #eff7fa;
}

.service-info img {
	position: absolute;
	height: 60px;
	width: 60px;
	left: calc(50% - 30px);
	top: 106px;
}

.service-item {
	margin-bottom: 64px;
}

.service-item__title {
	display: block;
	text-align: center;
	font-size: 20px;
	color: #ffc501;
	margin-bottom: 38px;
}

.service-item__subtitle {
	display: block;
	text-align: center;
	font-size: 15px;
	color: #a8b9c0;
	margin-bottom: 64px;
}

@media screen and (max-width: 767px) {
	.service-inner {
		justify-content: space-around;
	}
}